body.html{
  scroll-behavior: smooth;
  height: 100vh;
  font-family: Khmer OS Battambang;
}
.main-form{
    position: relative;
    font-family: Khmer OS Battambang;
}
 .title{
    display: inline-flex;
    position: relative;
    gap: 10px;
    font-size: 18px;
 }
 .title1{
    display: inline-flex;
    position: relative;
    gap: 30px;
    font-size: 18px;
 }
 .logo{
   position: relative;
   left: 5rem;
   width: 250px;
   align-items: center;
 }
.bg-color{
   position: fixed;
   width: 100%;
   z-index:90;
   background-color: blue;
 }
 .navbar {
   z-index: 100;
   color: white;
   position: sticky;
   top: 0;
   width: 100%;
   background-color: rgb(255, 255, 255);
   box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.192);
   font-family: Khmer OS Battambang;
 }
 .main-form{
   position: relative;
   top: 2rem;
 }
 .menu{
   right: 5rem;
   position: relative;
 }
 .line{
   border: 1px solid #02005f;
 }
 .text{
  font-weight: bold;
  color: rgb(0, 0, 0);
  align-items: center;
  font-family: Kh Battambang;

}
.color-box{
  color: black;
}
.textarea-box{
  height: 100vh;
  width: 100%;
  position: relative;
  font-family: Khmer OS Battambang;
}
 .drop{
  width: 100%;
  position: relative;
  border: 1px solid blue;
  height: 8vh;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.text-main{
  font-size: 18px;
  color: black;
  text-align: center;
  text-decoration: underline;
}
.btn{
  color: white;
  left: 0;
}
.btn:hover{
  color: white;
}
 .data-view{
  text-align: center;
  align-items: center;
  height: 1200px;

  border: none;
}
#logout{
  position: relative;
  top: 25rem;
  background-color: #02005f;
  color: white;
  outline: none;
  border: none;
  padding: 20px 20px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.main-homepage{
  align-items: center;
  text-align: center;
}
.daily-report{
  background-color: #02005f;
  border-radius: 10px;
  width: 100%;
  color: white;
  padding: 20px 20px;
  align-items: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
   font-family: Khmer OS Battambang;
}
.message{
  font-size: 30px;
  text-align: center;
}
.navbar-toggler{
  border: none;
  background-color: white;
  color: white;
}
.font-change{
  font-family: Khmer OS Battambang;
}
.main-homepage{
  font-family: Khmer OS Battambang;
}
 @media only screen and (max-width: 600px){
   .logo{
      left: 0;
   }
   .navbar{
      right: 0;
   }
   .menu{
      right: 0;
   }
   .text-select{
    text-align: center;
   }
 }
